@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: rgb(204, 230, 242);
}

.header {
  text-align: left;
  color: white;
  background-color: rgb(51, 51, 153);
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  height: 5em;
  text-decoration: none;
}

.header-title {
  margin-top: 0;
}

.nav {
  text-align: center;
}

.articles-and-topics-container {
  padding: 0;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 15em auto;
  grid-template-areas:
    'articles topics'
    'articles .';
}

@media screen and (min-device-width: 1000px) {
  .articles-and-topics-container {
    padding: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 18em auto;
    grid-template-areas:
      'articles topics'
      'articles .';
  }
}

.articles-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  flex-direction: column;
  display: flex;
}

.topics {
  list-style: none;
  margin-right: 8em;
  margin-top: 1em;
  grid-area: topics;
  flex-direction: column;
  display: flex;
  background: white;
  border-radius: 1em;
  text-align: center;
}

.topics-list {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.topics-header {
  font-family: 'Roboto Slab', serif;
  padding: 0em;
  color: rgb(51, 51, 153);
  text-align: center;
  font-size: 2.8em;
}

.article-card {
  margin-top: 0;
  margin-bottom: 2em;
  margin-left: 8em;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  width: 80%;
  display: inline-block;
}

.article-card-title {
  margin-top: 2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.1em;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
  color: rgb(51, 51, 153);
  text-decoration: none;
}

.article-card-title:hover {
  color: rgb(80, 80, 143);
}

.article-card-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.article-card-footer {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.article-title {
  text-align: center;
  text-transform: capitalize;
  padding: 0.2em;
  font-family: 'Roboto Slab', serif;
  font-size: 2.2em;
  color: rgb(51, 51, 153);
  text-decoration: none;
}

.article-body {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 1.5em;
}

.sort-buttons {
  text-align: center;
  margin: 1.6em;
}

.sort-button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(51, 51, 153);
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  border-radius: 5px;
  width: 12em;
  height: 2em;
  margin: 0.5em;
  text-align: center;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-footer-comments {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.loading-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
}

.error-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 4.2em;
}

.article-footer-votes {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

#plus-emoji {
  margin: 0.5em;
  border: none;
  background: none;
}

#minus-emoji {
  border: none;
  background: none;
}

.article-page {
  align-items: center;
  justify-content: center;
}

.article {
  background-color: white;
  margin: 2em auto;
  width: 70%;
  border-radius: 1em;
  padding: 1em;
}

.comment-card {
  background-color: white;
  margin: 0.5em auto;
  width: 70%;
  border-radius: 1em;
  padding: 1em;
}

.comment-card-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.comments-list {
  padding: 0;
}

.comment-footer {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.comment-body {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.comment-form {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.comment-input-box {
  width: 70%;
  margin: 0 auto;
  height: 5em;
  font-size: 1.5em;
  background-color: rgb(220, 220, 220);
  border-radius: 0.5em;
  border-style: solid;
  border-color: rgb(51, 51, 153);
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
}

.article-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
