@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-color: rgb(204, 230, 242);
}

.header {
  text-align: left;
  color: white;
  background-color: rgb(51, 51, 153);
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  height: 5em;
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

.nav {
  text-align: center;
}

.articles-list {
  list-style: none;
  padding: 0;
}

.article-card {
  margin: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}

.article-card-title {
  margin-top: 2em;
  text-align: center;
  text-transform: capitalize;
  padding: 0.2em;
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
  color: rgb(51, 51, 153);
  text-decoration: none;
}

.article-card-title:hover {
  color: rgb(80, 80, 143);
}

.article-card-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.article-card-footer {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.article {
  background-color: white;
  margin: 2em;
  padding: 2em;
  border-radius: 1em;
}

.article-title {
  text-align: center;
  text-transform: capitalize;
  padding: 0.2em;
  font-family: 'Roboto Slab', serif;
  font-size: 2.2em;
  color: rgb(51, 51, 153);
  text-decoration: none;
}

.article-body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

.sort-buttons {
  text-align: center;
  margin: 1.6em;
}

.sort-button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(51, 51, 153);
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  border-radius: 5px;
  width: 12em;
  height: 2em;
  margin: 0.5em;
  text-align: center;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-footer-comments {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.loading-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
}

.error-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 4.2em;
}

.article-footer-votes {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

#plus-emoji {
  margin: 0.5em;
  border: none;
  background: none;
}

#minus-emoji {
  border: none;
  background: none;
}
